:root {
  --clr-text: #5a5a5a;
  --clr-primary: #067e0a;
  --clr-accent: #fac535;

  --ff-serif: 'Crimson Text', serif;
  --ff-logo: 'Betterfly', sans-serif;
}
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 1.125rem;
  font-family: var(--ff-serif);
  color: var(--clr-text);
}
body {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

h1 {
  /* font-family: var(--ff-title); */
  line-height: 1;
  font-size: 2.5rem;
  text-align: center;
  padding: 1vh 0.5em;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
p {
  text-align: center;
  margin-bottom: 0.85rem;
}
/* navigation */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
nav a {
  display: inline-block;
  padding: 0.5em;
  color: var(--clr-primary);
  text-decoration: none;
}
nav a:hover,
nav a:focus {
  color: var(--clr-accent);
  text-decoration: underline;
}

/* buttons */

/* about me styles */
.about-container {
  position: relative;
  top: -30px;
  padding-bottom: 3em;
}
