.project-container {
}
.project-main {
  text-align: left;
  line-height: 1;
  font-size: 1.2rem;
  text-align: left;
  padding: 1vh 0.5em;
}
h2 {
  line-height: 1;
  font-size: 1.2rem;
  text-align: left;
  padding: 1vh 0.5em;
  color: rgb(179, 255, 247);
  text-decoration: underline rgb(179, 255, 247);
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-content: left;
}
ul a {
  display: inline-block;
  padding: 0.5em;
  font-size: 1.125rem;
  color: rgb(96, 235, 235);
  text-decoration: none;
}

a:focus {
  color: var(--clr-accent);
  text-decoration: underline;
}
