.project-container {
  position: relative;
  background: coral;
  padding: 0px;
  margin: 0px;
  border-top: ;
}
/* ///kcal css//////// */
/* .section-header {
  font-size: 60px;
  font-family: 'Hahmlet', serif;
}
.info-container {
  display: flex;
  gap: 2rem;
}
.info-container > * {
  flex: 1;
}
.info-container > article {
  right: 235px;
  top: 120px;
  text-align: left;
  font-size: 20px;
}
.info-container > h2 {
  font-size: 60px;
  left: 75px;
  bottom: 15px;
  margin: 0;
  padding: 0;
}
#k-image {
  right: 90px;
  max-width: 50%;
  padding-right: 20px;
} */
/* border: firebrick 10px solid; */
/* ///tail wag css /////////// */
