.about {
  /* background-color: rgb(43, 53, 69); */
  background: #f4eae0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}
.about > * {
  flex: 1;
}
.image {
  /* border-style: double; */
  max-width: 35%;
}
.button-container > * {
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  bottom: 20px;
  left: 15px;
  font-size: 35px;
  background-color: rgb(175, 237, 206);
  color: white;
}
.button-container {
  display: flex;
  position: relative;
  left: 119px;
  gap: 1.8rem;
}
.header {
  font-size: 40px;
  font-family: rubiks;
  width: 700px;
  text-align: center;
  position: relative;
  left: 120px;
}
.aboutMe {
  width: 800px;
  font-size: 35px;
  text-align: center;
  position: relative;
  font-family: rubiks;

  left: 70px;
}
