.about {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}
.image {
  position: absolute;
}
.button-container > * {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 2.1rem;
  background-color: rgb(195, 229, 212);
  color: rgb(212, 63, 63);
}
.button-container {
  display: flex;
  gap: 1.8rem;
}
.header {
  font-size: 3rem;
  font-family: rubiks;
  text-align: center;
  position: relative;
}
.about-info {
  position: absolute;
  border: 10px solid firebrick;
  width: 50rem;
  left: 0px;
}
.aboutMe {
  font-size: 2rem;
  text-align: left;
  font-family: rubiks;
  border: 10px solid firebrick;
}
